@font-face {
    font-family: "comic";
    src: url("comic.ttf") format("woff");
}

@font-face {
    font-family: "comicbd";
    src: url("comicbd.ttf") format("woff");
}

@font-face {
    font-family: "micross";
    src: url("micross.ttf") format("woff");
}

@font-face {
    font-family: "ariali";
    src: url("arial.ttf") format("woff");
}

